@import '../../../../Styles/globals.scss';

.two-col--wrapper {
  display: flex;

  .two-col--col {
    &:first-child {
      margin-right: 0.5rem;
    }

    .title--row {
      font-size: 0.55rem;
      color: $secondary;
      margin-bottom: -0.2rem;
    }
    .value--row {
      font-size: 0.7rem;
    }
  }
}
