@import '../../../Styles/globals.scss';

.ssp-filter--btn {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background: #fff !important;
  height: 24px !important;
  width: 24px !important;
  border-radius: 50% !important;
  border: 1px solid rgb(217, 217, 217) !important;
  color: 1px solid rgba(0, 0, 0, 0.85) !important;

  &:hover {
    border-color: rgb(24, 144, 255) !important;
    color: rgb(24, 144, 255) !important;
  }

  svg {
    margin-top: 4px !important;
    font-size: 14px !important;
  }
}
