@import '../../Styles/globals.scss';

.form-instance--wrapper {
  padding: 0;
  position: relative;

  .ant-tabs-bar {
    margin-bottom: 0;
  }

  .ant-tabs-nav .ant-tabs-tab-active {
    color: $jungleGreen !important;
  }

  .ant-tabs-ink-bar {
    background-color: $jungleGreen !important;
  }

  .form-instance--tabs {
    background: #333;
    display: flex;
    padding: 0 8px;

    .form-instance--tabs__tab {
      padding: 2px 6px;
      color: #fff;
      border-bottom: 2px solid #333;
      cursor: pointer;
      
      &.is-active {
        color: $candlelight;
        background-color: rgba(255, 255, 255, 0.15);
        border-bottom-color: $candlelight;
      }
    }
  }

  .form-instance-activites--mask {
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
    top: 0;
  }
}