@import '../../Styles/globals.scss';

$progressBarHeight: 14px;

.scheduling-progress-meter--wrapper {
  width: 100%;
  height: $progressBarHeight;
  position: relative;
  border-radius: 8px;
}

.scheduling-progress-meter--wrapper > span {
  width: 100%;
  display: block;
  height: $progressBarHeight;
  border-radius: 8px;
  background-color: lighten($jungleGreen, 10%);
  background-image: linear-gradient(lighten($jungleGreen, 10%), $jungleGreen);
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3);
  position: relative;
  overflow: hidden;
}
.scheduling-progress-meter--wrapper > span:after,
.animate > span > span {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: -webkit-gradient(
    linear,
    0 0,
    100% 100%,
    color-stop(0.25, rgba(255, 255, 255, 0.2)),
    color-stop(0.25, transparent),
    color-stop(0.5, transparent),
    color-stop(0.5, rgba(255, 255, 255, 0.2)),
    color-stop(0.75, rgba(255, 255, 255, 0.2)),
    color-stop(0.75, transparent),
    to(transparent)
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

.animate > span:after {
  display: none;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
