@import '../../../Styles/globals.scss';

.dynamic-table--expanded__wrapper {
  background: #fbfbfb;
  padding: 0.5rem;

  .dynamic-table--expanded--item {
    display: flex;
    align-items: center;
    margin-bottom: 0.3rem;
    &:not(:last-child) {
      padding-bottom: 0.3rem;
      border-bottom: 1px solid rgba($rustyGrey, 0.15);
    }
    .title {
      font-weight: 700;
      margin-right: 4px;
      width: 15rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
