orbs:
  npm-publisher: uraway/npm-publisher@0.2.0
version: 2.1
workflows:
  build_publish:
    jobs:
      - npm-publisher/publish-from-package-version:
          filters:
            branches:
              only: master
          post-publish-steps:
            - save_cache:
                key: 'v1-node-cache-{{ .Branch }}-{{ checksum "package-lock.json" }}'
                paths:
                  - node_modules
          pre-publish-steps:
            - restore_cache:
                keys:
                  - >-
                    v1-node-cache-{{ .Branch }}-{{ checksum "package-lock.json"
                    }}
                  - 'v1-node-cache-{{ .Branch }}'
                  - v1-node-cache-
            - run: yarn install
            - run: yarn build
          publish-token-variable: NPM_TOKEN
          push-git-tag: true
  # npm token: 57ef72bf-ac6b-4366-9386-d5ce44ba3882
