version: 2.1
orbs:
  gcp-cli: circleci/gcp-cli@1.8.4
  node: circleci/node@1.1.6
jobs:
  build-and-deploy-prod:
    executor:
      name: node/default
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run: yarn install
            - run: yarn build
      - run:
          name: 'Copy files'
          command: |
            cd dist
            ls
workflows:
  build-and-deploy-prod:
    jobs:
      - build-and-deploy-prod
  install_and_configure_cli:
    jobs:
      - gcp-cli/install_and_initialize_cli:
          gcloud-service-key: GCLOUD_SERVICE_KEY
          google-compute-zone: GCLOUD_COMPUTE_ZONE
          google-project-id: GCLOUD_PROJECT_ID