@import '../../Styles/globals.scss';

.form-activity-template-mapping--wrapper {

  .form-activity-template-mapping--header,
  .form-activity-template-mapping--type-header,
  .form-activity-template-mapping--list {
    padding: 0.2rem $outerComponentPadding;
  }

  .form-activity-template-mapping--header {
    background: $deepSeaGreen;
    color: #fff;
  }

  .form-activity-template-mapping--type-header {
    background: rgb(250, 250, 250);
    border-bottom: 1px solid rgb(232, 232, 232);
    display: flex;
    align-items: center;
    font-weight: 700;
    color: $darkBlack;

    & div:first-child {
      width: 15rem;
    }
  }

  .form-activity-template-mapping--alert {
    .ant-alert-message {
      margin-bottom: 0;
    }

    .ant-btn {
      padding: 0 !important;
    }
  }
}