.toolbar-button--wrapper {
  padding: 0 6px !important;
  border-radius: 12px !important;
  
  .anticon + span {
    margin-left: 3px !important;
  }

  &:disabled {
    background: #fbfbfb !important;
    border-color: rgb(230, 230, 230) !important; 
  }

  &.active {
    color: rgb(24, 144, 255) !important;
    border-color: rgb(24, 144, 255) !important;
    box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
  }
}