@import '../../../Styles/globals.scss';

.activity-designer--wrapper {

  .activity-designer--header,
  .activity-designer--type-header,
  .activity-designer--list {
    padding: 0.2rem $outerComponentPadding;
  }

  .activity-designer--header {
    background: $deepSeaGreen;
    color: #fff;
  }

  .activity-designer--type-header {
    background: rgb(250, 250, 250);
    border-bottom: 1px solid rgb(232, 232, 232);
    display: flex;
    align-items: center;
    font-weight: 700;
    color: $darkBlack;

    & div:first-child {
      width: 15rem;
    }
  }

  .activity-designer--alert {
    padding: 6px;
    font-size: 0.8rem;
    .ant-alert-message {
      margin-bottom: 0;
      font-size: 0.9rem;
    }

    .ant-alert-description,
    .ant-btn {
      font-size: 0.8rem;
    }

    .ant-btn {
      padding: 0 !important;
    }
  }

  .activity-designer--toolbar {
    padding: 0.2rem 8px;
    background: rgb(250, 250, 250);
    border-bottom: 1px solid rgb(232, 232, 232);
    display: flex;
    align-items: center;

    .activity-designer__toolbar--label {
      font-weight: 700;
      margin-right: 2px;
    }

    .ant-btn {
      font-size: 0.8rem;
    }
  }
}