@import '../../../Styles/globals.scss';

.filter-bar__wrapper {
  .ant-btn {
    margin-left: 6px;
    margin-right: 6px;
    color: $deepSeaGreen;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0 !important;
    &.active {
      background-color: $deepSeaGreen !important;
      color: #fff !important;
    }
    &.has-filters {
      background-color: $candlelight !important;
      color: #000 !important;
    }
    &:hover,
    &:active,
    &:focus {
      color: $deepSeaGreen;
    }
  }
}
