@import '../../../Styles/globals.scss';

.submission-column--wrapper {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.2s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    color: $jungleGreen;
  }

  .primary-object--row {
    font-size: 0.55rem;
    margin-top: -0.2rem;
    display: flex;
    span {
      color: $secondary;
    }
  }
}
