@import './globals.scss';

/* MODALS */
.ant-modal-header {
  padding: $outerComponentPadding !important;

  .ant-modal-title {
    font-size: 14px !important;
  }
}

.ant-modal-content .ant-modal-close {
  height: 39px !important;
  width: 39px !important;

  span.ant-modal-close-x {
    height: 39px !important;
    width: 39px !important;
    line-height: 39px !important;
  }
}

.ant-modal-body {
  padding: $outerComponentPadding !important;
}

.ant-list-sm {
  .ant-list-header {
    font-size: 12px;
    padding: 4px 0 0 0;
  }

  .ant-list-empty-text {
    font-size: 12px;
  }
}

input.ant-input-sm,
.ant-btn-sm {
  font-size: 12px !important;
}
