$deepSeaGreen: #0e5c67;
$jungleGreen: #29b68f;
$pelorous: #3fa5b3;
$candlelight: #ffdd5c;
$bittersweet: #ff6357;
$rustyGrey: #969d9f;
$swedishSkies: #f4f5f7;
$darkBlack: #2c3741;

$outerComponentPadding: 8px;
$defaultFontSize: 0.7rem;