@import './globals.scss';

.toolbar--foldout,
.toolbar--wrapper {
  background: #fff;
  padding: 4px $outerComponentPadding;
  font-size: 0.8rem;
}

.toolbar--wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .toolbar--section-flex {
    display: flex;
    align-items: center;
    margin-right: 0.4rem;
  }

  .label,
  .value {
    margin-right: 0.4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    min-width: 0;
  }
  .label {
    flex-wrap: nowrap;
    color: $rustyGrey;
  }

  .adjust-right {
    margin-left: auto;
  }

  .ant-btn.ant-btn-link {
    font-size: 0.8rem;
    line-height: 1;
  }

  .ant-progress-inner {
    border: 1px solid darken(rgb(232, 232, 232), 20%);
    background-color: #fff;
  }
}
