@import '../../Styles/globals.scss';

.top-toolbar--wrapper {
  background: #fff;
  padding: 2px $outerComponentPadding;
  display: flex;
  align-items: center;
  overflow: hidden;

  .top-toolbar--breadcrumbs__label {
    margin-right: 0.8rem;
    color: $rustyGrey;
    font-size: 0.8rem;
  }

  .top-toolbar--breadcrumbs__item {
    cursor: pointer;
  }

  .ant-breadcrumb {
    font-size: 0.8rem !important;
    white-space: nowrap;
  }

  .ant-breadcrumb-link {
    &:hover {
      a {
        color: $jungleGreen !important;
      }
    }
  }

  & > i.anticon {
    position: absolute;
    right: 8px;
    color: $deepSeaGreen;
  }
}