@import '../../Styles/globals.scss';

.top-toolbar--wrapper {
  background: rgb(250, 250, 250);
  padding: 4px $outerComponentPadding;
  display: flex;
  align-items: center;
  overflow: hidden;

  .top-toolbar--breadcrumbs__label {
    margin-right: 0.8rem;
    color: $rustyGrey;
    font-size: 0.8rem;
  }

  .ant-breadcrumb {
    font-size: 0.8rem !important;
    white-space: nowrap;
  }

  .ant-breadcrumb-link {
    &:hover {
      a {
        color: $jungleGreen !important;
      }
    }
  }

  & > button {
    position: absolute;
    right: 4px;
  }
}