@import '../../Styles/globals.scss';

.base-section--wrapper {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 1.2rem;
  }

  .base-section--name__wrapper {
    padding: 2px 8px 2px 1.4rem;
    font-weight: 700;
    background: #fff;
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 0.6rem;
      height: 0.6rem;
      border-radius: 50%;
      left: 0.4rem;
      top: calc(50% - 0.3rem);
      background-color: red;
    }

    &.SECTION_CONNECTED {
      &::after {
        background-color: $candlelight;
      }
    }

    &.SECTION_VERTICAL {
      background: $deepSeaGreen;
      color: #fff;
    }

    &.SECTION_TABLE {
      background: $pelorous;
      color: #fff;
    }
  }

  .base-section--extra__btn {
    position: absolute;
    right: 8px;
    top: 2px;
    cursor: pointer;
  }
}