@import '../../Styles/globals.scss';

.base-section--wrapper {
  position: relative;

  .base-section--name__wrapper {
    padding: 2px 8px;
    font-weight: 700;
    background: #fff;
    position: relative;
    margin-top: 4px;
    // border-top: 1px solid lighten($rustyGrey, 7.5%);
  }

  .ant-table-expanded-row {
    background: #fff;
    td {
      background: #fff;
    }
  }
}
