@import '../../Styles/globals.scss';

.calendar-settings--wrapper {

  .setting--wrapper {
    display: flex;
    margin-bottom: 0.4rem;
    align-items: center;

    &:not(:last-child) {
      padding-bottom: 2px;
      border-bottom: 1px solid $swedishSkies;
      margin-bottom: 2px;
    }
    .setting--label {
      width: 10rem;
    }

    .setting__label--right {
      width: 5rem;
    }
    .setting--value {
      font-weight: 700;
    }
  }
}