@import '../../Styles/globals.scss';

.included-field--wrapper {
  display: flex;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;

  .ant-select-sm:last-of-type {
    margin-left: 20px;
    margin-right: 2rem;
  }

  &:last-of-type {
    margin-bottom: 0.6rem;
  }
}