@import '../../Styles/globals.scss';

.base-section__extra--wrapper,
.form_info--wrapper {
  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 4px;
    padding-left: 24px;
    border-bottom: 1px solid $swedishSkies;
    font-size: 0.7rem;
    i {
      left: 6px;
    }
  }

  .ant-collapse-content-box {
    padding: 4px 6px 6px 6px;
    font-size: 0.7rem; 
  }
}