.constraint-profiles--page {
  .ant-collapse {
    border: none !important;
  }

  .ant-collapse-item {
    border-bottom: none !important;
  }

  .ant-collapse-content {
    border-top: none !important;
  }

  .ant-collapse-content-box {
    padding: 4px 16px 4px 8px !important;
  }

  .ant-collapse-header {
    padding: 2px 8px !important;
    font-size: 0.75rem !important;
    background: #fafafa !important;
    border: none !important;
    border-bottom: 1px solid #f0f0f0 !important;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
  }
}