@import '../../../Styles/globals.scss';

.stop-job-btn--wrapper {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba($bittersweet, 0.4);
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    background-color: darken(rgba($bittersweet, 0.4), 5%);
  }

  &.disabled {
    background-color: darken($swedishSkies, 2%);
    color: rgba(#000, 0.4);
    cursor: not-allowed;
  }
}