.filter-modal {
  &__box {
    border: 1px solid #f0f0f0;
    flex: 1;
    min-height: 0;
    padding: 8px;
    max-height: 300px;
    overflow: auto;
  
    .ant-menu {
      border-right: 0;
      li.ant-menu-item {
        height: 24px;
        line-height: 24px;
        margin-bottom: 0;
      }
      .ant-menu-item-group-title {
        padding-bottom: 0;
      }
    }
    .ant-form-item {
      flex-flow: column;
  
      .ant-form-item-label {
        text-align: left;
      }
    }

    .ant-divider {
      margin-top: 12px;
      margin-bottom: 12px;
    }
  }
  &__column {
    height: 100%;
    display: flex;
    flex-flow: column;
  }
  &__value-display {
    margin-bottom: 12px;
    b {
      font-weight: 500;
    }

    & > div {
      padding-left: 12px;
    }

    ul {
      padding: 0;
      li {
        list-style: none;

        ul {
          padding-left: 12px;
        }
      }
    }
  }
}