@import '../Styles/globals.scss';

.breadcrumbs--wrapper {
  background: rgb(250, 250, 250);
  padding: $outerComponentPadding;
  display: flex;

  .breadcrumbs--label {
    margin-right: 0.8rem;
    color: $rustyGrey;
  }

  .ant-breadcrumb-link {
    &:hover {
      a {
        color: $jungleGreen !important;
      }
    }
  }
}