@import '../Styles/globals.scss';

.breadcrumbs--wrapper {
  background: rgb(250, 250, 250);
  padding: 4px $outerComponentPadding;
  display: flex;
  align-items: center;

  .breadcrumbs--label {
    margin-right: 0.8rem;
    color: $rustyGrey;
    font-size: 0.8rem;
  }

  .ant-breadcrumb {
    font-size: 0.8rem !important;
  }

  .ant-breadcrumb-link {
    &:hover {
      a {
        color: $jungleGreen !important;
      }
    }
  }

  & > button {
    margin-left: auto;
  }
}