@import '../Styles/globals.scss';

.te-prefs-lib {
  box-sizing: border-box !important;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  display: block;
  padding: 0;
  font-size: $defaultFontSize !important;
  overflow-x: hidden;

  .ant-progress.ant-progress-line.ant-progress-small {
    & > div {
      display: flex;
      align-items: center;

      .ant-progress-outer {
        padding: 0;
        margin: 0;
        max-width: calc(100% - 4rem);
      }
      .ant-progress-text {
        width: 4rem;
        display: block;
      }
    }
  }
}

.ant-table {
  font-size: $defaultFontSize !important;

  .ant-table-thead > tr > th {
    padding: 2px $outerComponentPadding;
  }

  .ant-table-tbody > tr > td {
    padding: 2px $outerComponentPadding;
  }

  .ant-table-thead > tr > th .ant-table-column-sorter {
    vertical-align: baseline;
  }

  .ant-table-column-title {
    white-space: nowrap;
  }
}

.te-prefs-lib .footerless-info-modal .ant-modal-confirm-btns {
  display: none;
}