@import '../Styles/globals.scss';

.te-prefs-lib {
  box-sizing: border-box !important;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  display: block;
  padding: 0;
  font-size: $defaultFontSize !important;
}

.ant-table {
  font-size: $defaultFontSize !important;

  .ant-table-thead > tr > th, 
  .ant-table-tbody > tr > td {
    padding: $outerComponentPadding;
  }

  .ant-table-column-title {
    white-space: nowrap;
  }
}

.te-prefs-lib .footerless-info-modal .ant-modal-confirm-btns {
  display: none;
}