@import '../../Styles/globals.scss';

.teantd-tabbar {
  background: #333;
  display: flex;
  padding: 0 8px;
  margin-bottom: 0 !important;
  .ant-tabs-tab {
    font-size: 0.7rem;
    padding: 5px 6px !important;
    color: #fff;
    margin: 0 !important;
    cursor: pointer;
    
    &.ant-tabs-tab-active{
      .ant-tabs-tab-btn {
        color: $candlelight !important;
      }
      background-color: rgba(255, 255, 255, 0.15);
    }
    &:hover {
      color: darken($candlelight, 20%) !important;
    }
  }
  .ant-tabs-ink-bar {
    background-color: $candlelight;
  }
}