@import '../../Styles/globals.scss';

.element__datasource--wrapper {
  width: fit-content;
  z-index: 1;
  position: relative;
  display:flex;
  
  & > :not(.element__datasource--inner--empty) {
  cursor: pointer;
  }

  .element__datasource--inner {
    border: 1px solid rgb(232, 232, 232);
    border-radius: 0.3rem;
    background: rgb(250, 250, 250);
    align-items: center;
    padding: 0 0.15rem;
    white-space: nowrap;
    display:flex;

    & > i {
      &.anticon {
        color: $rustyGrey;
      }
      margin-left: 0.2rem;
    }

    .field--wrapper {
      display:flex;
      .field--label {
        margin-right: 0.2rem;
        color: $rustyGrey;
      }
    }
  }
}