@import '../../Styles/globals.scss';

.element__datasource--wrapper {
  width: fit-content;
  cursor: pointer;
  z-index: 1;
  position: relative;
  display: flex;

  .element__datasource--inner {
    border: 1px solid rgb(232, 232, 232);
    border-radius: 0.3rem;
    background: rgb(250, 250, 250);
    align-items: center;
    padding: 0 0.15rem;
    white-space: nowrap;
  
    & > i {
      &.anticon {
        color: $rustyGrey;
      }
      margin-left: 0.2rem;
    }

    .field--wrapper {
      .field--label {
        margin-right: 0.2rem;
        color: $rustyGrey;
      }
    }
  }
}