@import '../../Styles/globals.scss';

.element__datasource--wrapper {
  width: fit-content;
  cursor: pointer;
  z-index: 1;
  position: relative;

  .element__datasource--inner {
    border: 1px solid rgb(232, 232, 232);
    border-radius: 0.8rem;
    background: rgb(250, 250, 250);
    display: flex;
    align-items: center;
    padding: 0 0.4rem;

    & i {
      &:not(:last-child) {
        margin-right: 0.2rem;
        &.anticon {
          color: $rustyGrey;
        }
      }
      &:last-child {
        margin-left: 0.2rem;
      }
    }
  }
}