@import '../../../../Styles/globals.scss';

$statusColumnLength: 0.8rem;

.scheduling-actions-column--wrapper {
  display: flex;
  align-items: center;
  
  .scheduling-actions--button {
    margin-left: 0.4rem;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 0.8rem;
    padding: 0.2rem 0.4rem;
    background: mix($deepSeaGreen, #fff, 10%);
    z-index: 0;
  
    &:hover {
      background: $candlelight;
      color: $deepSeaGreen;
    }
  }

  .scheduling-actions--status {
    transition: all 0.2s;
    border-radius: 0.8rem;
    padding: 0.2rem 0.4rem;
    cursor: pointer;
    z-index: 3;
    &.NOT_SCHEDULED {
      background: mix($bittersweet, #fff, 20%);
    }

    &.SCHEDULED {
      background: mix($jungleGreen, #fff, 20%);
    }
  }

  .scheduling-actions--strikethrough {
    width: 100%;
    height: 2px;
    background: $jungleGreen;
    position: absolute;
    z-index: 2;
  }
}