@import '../../../../Styles/globals.scss';

.column-content--wrapper {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
  padding: 0 0.15rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  .base-activity-col--icon {
    color: $rustyGrey;
  }

  &:hover {
    background: $swedishSkies;
  }

  &:not(:first-child) {
    margin-left: 8px;
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 2px;
      left: -5px;
      height: 100%;
      background: $rustyGrey;
    }
  }
}

.base-activity-col--quickview {
  padding: 5px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.base-activity-col__quickview--icon {
  margin: 0 0.4rem;
  padding: 0 0.2rem;
  border-radius: 50%;
  background: rgb(250, 250, 250);
  border: 1px solid rgb(232, 232, 232);
}
