.column-selector--wrapper {

  .column-selector--header {
    span.column-selector--title {
      font-weight: bold;
      font-size: 14px;
    }
  }

  .column-selector--col {
    
    &:not(:last-child) {
      margin-bottom: 0.4rem;
      padding-bottom: 0.4rem;
      border-bottom: 1px solid rgb(232, 232, 232);
    }
    span {
      margin-left: 0.4rem;
    }
  }
}