@import '../../Styles/globals.scss';

$statusColumnLength: 0.8rem;

.scheduling-column--wrapper {
  display: flex;
  align-items: center;

  .reservation-status--wrapper,
  .reservation-id--wrapper {
    margin-right: 0.4rem;
  }

  .reservation-status--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $statusColumnLength;
    width: $statusColumnLength;
    border-radius: 50%;
    font-size: 0.6rem;
  
    &.NOT_SCHEDULED {
      border: 1px solid darken(rgb(232, 232, 232), 10%);
      background-color: rgb(232, 232, 232);
    }

    &.SCHEDULED {
      border: 1px solid darken($jungleGreen, 10%);
      background-color: $jungleGreen;
      color: #fff;

      &::before {
        content: "";
        position: absolute;
        left: 0.4rem;
        display: block;
        width: calc(100% - 0.8rem);
        height: 0.1rem;
        background-color: $jungleGreen;
      }
    }

    &.MODIFIED {
      border: 1px solid darken($candlelight, 10%);
      background-color: $candlelight;
      color: $darkBlack;
    }

    &.DELETED {
      border: 1px solid darken($bittersweet, 10%);
      background-color: $bittersweet;
      color: #fff;
    }
  }

  .reservation-id--wrapper {
    color: $darkBlack;
    cursor: pointer;

    &.disabled {
      cursor: default;
      color: darken(rgb(232, 232, 232), 20%);
    }
  }
}