@import '../../Styles/globals.scss';

.timing-mapping__row--wrapper {
  display: flex;
  margin-bottom: 0.4rem;

  .label {
    width: 15rem;
    font-size: 14px;
    .is-required {
      margin-left: 0.4rem;
      font-size: 0.8rem;
      color: $bittersweet;
      font-style: italic;
    }
  }

  .ant-select,
  .ant-cascader-picker {
    width: 25rem;
  }
}

.object-mapping--wrapper {
  display: block;

  .object-mapping-row--wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 0.4rem;

    .object-mapping-row--type {
      width: 15rem;

      .ant-select {
        width: 14rem;
      }
    }

    .ant-cascader-picker {
      width: 25rem;
    }

    .object-mapping-row--props {
      margin-left: 0.8rem;
    }
  }

  .object-mapping--add {
    .ant-select {
      width: 25rem;
    }
  }
}

.multi-row-parameter--wrapper {
  background: $swedishSkies;
  border-radius: 2px;
  padding: 8px;

  .label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0.2rem;
  }

  .multi-row-parameter--empty {
    font-size: 14px;
    font-style: italic;
    margin: 0.2rem 0;
    color: $rustyGrey;
  }

  .timing-mapping__row--wrapper {
    .label {
      font-weight: normal;
    }
    .ant-btn {
      color: $bittersweet;
    }
  }
}
