# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on: [push, pull_request, workflow_dispatch]

jobs:
  lintandtest:
    runs-on: ubuntu-latest

    env:
      SKIP_PREFLIGHT_CHECK: true
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2        
      - name: Get submodules
        env:
          SSH_KEY_SUBMODULE: ${{secrets.SUBMODULE_CONTENT_PULL_KEY}}
        run: |
          eval `ssh-agent -s`
          ssh-add - <<< "${SSH_KEY_SUBMODULE}"; git submodule update --init --recursive
          
      - name: install
        run: yarn
      - name: Lint
        run: |
          yarn lint
          yarn ts:lint

      - name: Prettier
        run: yarn prettier
        
      - name: Test
        run: TZ='UTC+2' yarn test
